
body {
  background-color: rgb(17, 2, 2);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.HEAD1 {
  top: 0;
  position: sticky;
  background-color: white;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: auto;
  margin: 0;
  padding: 20px;
  left: 0;
}


.return {
  width: 45px;
  height: 45px;
  margin-right: 5px;
  border-radius: 100%;
  padding: 0;
  background-color: rgb(87, 87, 154);
}

.return:hover {
  background-color: rgb(241, 72, 72);
}

.all {
  background-color: rgb(87, 87, 154);
  justify-content: space-between;
  display: flex;
  border: 1px solid white;
  border-radius: 10px;
  text-decoration: none;
}

.all:hover {
  background-color: rgb(11, 1, 12);
}


.content1, .content2, .content3, .content4 {
  width: 25%;
  height: 45px;
  margin: 2px;
  padding: 0;
}
.HEAD2 {
  display: none; 
  top: 0;
  position: sticky;
  background-color: white;
  width: 100%;
  padding: 10px 20px;
  left: 0;
  z-index: 10;
}
.img {
  color: rgb(0, 0, 0);
  display: block;
  position: relative;
  cursor: pointer;
}        
.mn {
  display: none;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: rgb(87, 87, 154);
  width: 100%;
  text-align: left;
  z-index: 1;
}
.mn a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-bottom: 1px solid white;
}

.mn a:hover {
  background-color: rgb(11, 1, 12);
}


.HEAD2:hover .mn,
.HEAD2 .img:hover + .mn {
  display: block;
}



@media screen and (max-width: 600px) {

  .HEAD1 {
      display: none;
  }
  
  .HEAD2 {
      display: block;
  }

  .img {
      display: block;
  }

}
